body {
background-color:black;
color: white;
font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center
}

#data-container {
      display: flex;
      justify-content: center;
      height: 70vh
}

#map {
    width: 60em;
    min-width: 210px;
    height: 100%;
    background-color: #bdffe8
}

table {
    color: black;
    width: 25em;
    min-width: 240px;
    height: 100%;
    margin-right: 2em;
    margin-left: 1em;
    display: flex;
    /* overflow-y: scroll */
    /* box-shadow: 0 1px 6px 0 rgba(0,0,0,.15); */
    /* border: 2px solid grey; */
}

tbody {
    /* background: gray; */
    background: gray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    align-items: center;
    /* overflow-y: scroll */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
    padding-top: 0;
    padding-bottom: 0;
}

tr {
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: 700; */
    font-weight: bold;
}

tr#title-row {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: bold
}

#heading-row, #total-row {
    font-weight: bold;
    background: lightgray;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    border: 1px solid gray;
    /* padding-left: 5%;
    padding-right: 5% */
}

/* .data-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
} */

td {
    font-size: 8pt;
    /* font-size: auto; */
    margin-right: 1.5%;
    margin-left: 1.5%;
    /* text-shadow:
		0pt 0pt 0 #000,
		0pt 0pt 0 #000,
		0pt 0pt 0 #000,
        0pt 0pt 0 #000; */
}

#key {
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    overflow: hidden;
    max-width: 40%
}

tr#heading-row > td {
    font-size: 10pt
}

#values {
    width: 50%;
    min-width: 50%;
    display: flex;
    justify-content: space-between
}

#values > td, #table-title {
    min-width: 20%;
    display: flex;
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%
}

.candidate-row {
    /* border-radius: 100px; */
    border: 1px solid black;
    padding: 1%
    /* margin-left: 10%;
    margin-right: 10%; */
    /* width: 200px; */
    /* height: 150px; */
}

.candidate-row > #key, .candidate-row > td > #percent, .candidate-row > td > #value {
    padding-left: 2%;
    padding-right: 2%;
}

#value, #key, #percent, #table-title {
    background: white;
    border-radius: 100px;
    border: 1px solid gray;
}

#total-row {
    display: flex;
    justify-content: space-between;
    align-self: end;
    min-width: max-content;
    width: 30%;
    padding: 1%;
    padding-right: 10px
}

#total-row > #values {
    display: flex;
    justify-content: right;
}

#total-row > #values > #value {
    /* width: auto; */
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50%;
}