body {
background-color:black;
color: white;
font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
}

#data-container {
      display: flex;
      justify-content: center;
      height: 70vh
}

#map {
    width: 60em;
    height: 100%;
    background-color: #bdffe8
}

table {
    color: black;
    background-color: white;
    width: 25em;
    height: 100%;
    margin-right: 2em;
    margin-left: 1em;
    display: flex
}

tbody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between   
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between
}

tr#heading-row {
    display: flex;
    justify-content: center;
    justify-items: center
}

.data-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

td {
    font-size: 8pt;
    margin: 1.5%
}

#total-row {
    /* margin-top: auto */
}