body {
background-color:black;
color: white;
font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
}

#data-container {
      display: flex;
      justify-content: center;
      height: 70vh
}

#map {
    width: 60em;
    height: 100%;
    background-color: #bdffe8
}

table {
    color: black;
    background-color: white;
    width: 25em;
    height: 100%;
    margin-right: 2em;
    margin-left: 1em;
    display: flex;
    /* overflow-y: scroll */
}

tbody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* overflow-y: scroll */
    overflow-y: auto
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between
}

tr#title-row {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: bold
}

tr#heading-row {
    font-weight: bold
}

/* .data-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
} */

td {
    font-size: 8pt;
    /* font-size: auto */
    margin-right: 1.5%;
    margin-left: 1.5%;
}

tr#heading-row > td {
    font-size: 10pt
}

#total-row {
    font-weight: bold
}

#values {
    width: 50%;
    display: flex;
    justify-content: space-between
}